<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
     <meta charset="UTF-8">
     <meta name="viewport"
           content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

     <link rel="stylesheet" type="text/css"  href="/css/style.css">
     <meta charset="UTF-8">
     <title>회원가입 페이지</title>
     <script>
          function signup(){

               let username = $('#username').val();
               let password = $('#password').val();


               if(loginCheck(username, password)==false){
                    return;
               }

               let data = {'username':username, 'password':password};

               $.ajax({
                    type: "POST",
                    url: "/user/signup",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function (response) {
                         if (response.idCheck == 0){
                              alert("중복된 id입니다. 다시 입력해주세요.");
                              return;
                         }else{
                              window.location.assign("/user/login");
                              alert("회원가입에 성공했습니다");
                         }
                    }
               });

               alert("회원가입 신청이 완료되었습니다");

          }

          function loginCheck(username, pw){

               let rePw = $('#password-confirm').val();

               if(username.length <3){
                    alert("닉네임은 3자 이상으로 작성해주세요");
                    return false;
               }
               if(pw.length < 4){
                    alert("비밀번호는 4자 이상으로 작성해주세요");
                    return false;
               }

               let usernameRegex = /^[a-zA-Z0-9]+$/;
               let usernameCheck = usernameRegex.test(username);
               if(usernameCheck&&username != username){
                    alert("닉네임 양식을 다시 확인해주세요");
                    return false;
               }
               for (const ch of username){
                    if(pw.includes(ch)){
                         alert("비밀번호와 닉네임과 같은 값을 포함할 수 없습니다.");
                         return false;
                    }
               }
               if (pw != rePw){
                    alert("비밀번호 확인이 일치하지 않습니다.");
                    return false;
               }


               return true;
          }
     </script>
</head>
<body>
<div id="login-form">
     <div id="login-title">Sign up chwBlog</div>

     <form id ="signup-form">
          <div class="login-id-label">Nickname</div>
          <div class="login-id-label">3자 이상, 알파벳 대소문자와 숫자로 구성해주세요</div>
          <input id="username" type="text" name="username" placeholder="Username" class="login-input-box">

          <div class="login-id-label">Password</div>
          <div class="login-id-label">4자 이상, 닉네임과 같은 값을 포함할 수 없습니다.</div>
          <input id="password" type="password" name="password" class="login-input-box">

          <div class="login-id-label">Password Check</div>
          <input id="password-confirm" type="password" class="login-input-box">

          <button onclick="signup()" id="login-id-submit" type="submit">SignUp</button>
     </form>
</div>
</body>
</html>